// Default Theme Color Palette

// Red
$red-light: #fa456c;
$red-dark: #fa456c;

// Purple
$purple-light: #944edf;
$purple-dark: #944edf;

// Blue
$blue-light: #7769fa;
$blue-dark: #7769fa;

// Teal
$teal-light: #4DB6AC;
$teal-dark: #009688;

// Green
$green-light: #49bd7d;
$green-dark: #49bd7d;

// Yellow
$yellow-light: #eba86d;
$yellow-dark: #eba86d;

// Orange
$orange-light: #FF8A65;
$orange-dark: #FF7043;

// Grey
$grey-050: #f1f1f1;
$grey-100: #e7e7e7;
$grey-150: #cacaca;
$grey-200: #b6b6b6;
$grey-250: #a2a2a2;
$grey-300: #999999;
$grey-350: #8f8f8f;
$grey-400: #858585;
$grey-450: #7b7b7b;
$grey-500: #191919;
$grey-550: #191919;
$grey-600: #191919;
$grey-650: #191919;
$grey-700: #191919;
$grey-750: #363636;
$grey-800: #363636;
$grey-850: #2d2d2d;
$grey-900: #191919;
$grey-950: #191919;

// White
$white: #E8E8E8;

// Black
$black: #191919;

// Button
$button-close: #fa456c;
$button-max: #7769fa;
$button-min: #4a4a4a;

// Link
$links: #5bd3f8;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
